@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var admin = HttpContextAccessor.HttpContext!.Session.GetString("Admin");
    if (string.IsNullOrEmpty(admin))
    {
        Context.Response.Redirect("/Administrador/Login");
    }
}

@using ReservaCanchita.Services.Configuraciones
@inject ConfiguracionServicio configuracionService
@{
    var configuraciones = await configuracionService.ObtenerConfiguraciones(new List<string>
    {
        "NombreEmpresa",
        "LogoEmpresa",
        "TrabajaConMenuComidas",
        "VersionIncluyeMenuComidas"
    });

    bool mostrarContenidoEspecial =
        configuraciones.FirstOrDefault(x => x.Campo == "VersionIncluyeMenuComidas")?.ValorNumerico == 1 &&
        configuraciones.FirstOrDefault(x => x.Campo == "TrabajaConMenuComidas")?.ValorNumerico == 1;

    string 
        nombreEmpresa = configuraciones.First(x => x.Campo == "NombreEmpresa").ValorString,
        imagenUrl = configuraciones.First(x => x.Campo == "LogoEmpresa").ValorString;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/@imagenUrl" asp-append-version="true" />
    <title>@ViewData["Title"] - Reserva Canchita</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReservaCanchita.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Administrador/Dashboard">
                    <img src="~/images/@imagenUrl" alt="Logo" width="30" height="30" class="me-2" />
                    @nombreEmpresa
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Administrador/Dashboard">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Administrador/Calendario">Calendario</a>
                        </li>
                        @if (mostrarContenidoEspecial)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Administrador/Menu">Menu</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Administrador/Configuracion">Configuracion</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        @if (Context.Session.GetString("Admin") != null)
                        {
                            <li class="nav-item">
                                <form method="post" asp-page="/Administrador/Logout">
                                    <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ReservaCanchita - M&M Systems
            @{
                /*  <a asp-area="" asp-page="/Privacy">Privacy</a>*/
            }
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>