name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'

      - name: Publish .NET app
        run: |
          dotnet publish -c Release -o out

      - name: Deploy to VPS using SCP
        run: |
          scp -r ./out/* root@72.60.60.66:/var/www/reservacanchita/

      - name: Restart service on VPS
        run: |
          ssh root@72.60.60.66 "systemctl restart reservacanchita"
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
