name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'

      - name: Publish .NET app
        run: dotnet publish -c Release -o out

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 72.60.60.66 >> ~/.ssh/known_hosts
        shell: bash

      - name: Deploy to VPS using SCP
        run: scp -i ~/.ssh/id_ed25519 -r ./out/* root@72.60.60.66:/var/www/reservacanchita/

      - name: Restart service on VPS
        run: ssh -i ~/.ssh/id_ed25519 root@72.60.60.66 "systemctl restart reservacanchita"
